* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'New York';
    src: url(./FontsFree-Net-NewYork.ttf);
}

.header {
    background-color: #7987FF;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title {
    color: white;
    font-size: 24px;
    font-family: 'New York';
}

.main {
    display: flex;
    justify-content: center;
}

.main__block {
    background-color: #7987FF;
    max-width: 450px;
    height: 250px;
    width: 100%;
    margin: 100px 5px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.block__text {
    color: white;
    font-size: 100px;
}

.block__input {
    width: 400px;
    height: 25px;
    margin: 5px;
}

.block__button {
    display: none;
}